.App {
  overflow-x: hidden;
  width: 100vw;
}

.ant-switch.ant-switch-checked {
  background: #ffb606 !important;
}

.ant-btn-primary {
  background-color: #ffb606 !important;
}

.ant-menu-item-selected {
  background-color: #ffb606 !important;
}

.ant-btn {
  font-weight: 600;
}
